@import "tailwindcss";


body {
    background-color: #181818;
}

img {
    width: 100%;
}

i, button {
    cursor: pointer;
}




.search-container {
    display: flex;
    background-color: #1c1c1c;
    border: 1px solid #333;
    border-radius: 4px;
    overflow: hidden;
    max-width: 600px;
    width: 100%;
  }
  
  .search-input {
    flex: 1;
    background-color: #1c1c1c;
    color: #fff;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
  }
  
  .search-input::placeholder {
    color: #999;
  }
  
  .search-button,
  .mic-button {
    background-color: #2a2a2a;
    border: none;
    color: white;
    padding: 0 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-button:hover,
  .mic-button:hover {
    background-color: #3a3a3a;
  }